<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/spring-learn?useSSL=false"/>
        <property name="username" value="root"/>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="studentJDBCTemplate"
          class="com.higgsup.jdbc.StudentJDBCTemplate">
        <constructor-arg name="jdbcTemplateObject" ref="jdbcTemplate"/>
    </bean>
    <bean id="builder" class="ma.glasnost.orika.impl.DefaultMapperFactory.Builder"/>
    <bean id="mapperFactory" class="ma.glasnost.orika.impl.DefaultMapperFactory">
        <constructor-arg ref="builder"/>
    </bean>
    <bean id="mapperFacade" class="ma.glasnost.orika.MapperFacade"
          factory-method="getMapperFacade" factory-bean="mapperFactory">
    </bean>


</beans>